<html>
<head>
<title>Ordca</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
--><link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<!-- bxSlider Javascript file -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<link href="css/jquery.bxslider.css" rel="stylesheet">
<link href="css/jquery-ui.css" rel="stylesheet" type="text/css" media="all">

 <!-- start price_bar  -->
<link href="css/jquery.nouislider.css" rel="stylesheet">

<script src="js/jquery.nouislider.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
				$("#slider").noUiSlider({
					start: [20, 80],
					connect: true,
					range: {
						'min': 0,
						'max': 100
					}
				});
				</script>
				
	<script type="text/javascript">
	
		$(document).ready(function(){
			
			var cok = $.cookie('me');
			
			if(cok === undefined) window.location.href='/login#fail';
			
			var meD = JSON.parse(cok); 
			
			$('#me-username').html(meD.username);
			
		});
		
	</script>

</head>
<body>
<div class="wrap">
<div class="main">


	<!-- start grids_of_3 -->
	<div class="grids_of_3">
  <div class="grid1_of_3" style="width:28.33333%;float:left; margin-left:0; ">
			<div class="grid_img">
				<img src="images/pic1.jpg" alt="">
			</div>
			<div class="grid_text">
				<h3 id="me-username" class="style"></h3>
				<h4 id="me-job" class="style"></h4>
				<p id="me-decription" class="para"></p>
			</div>
		</div>

		<div id="scroller" class="grid1_of_2" style="background:;width: 43.33333%; max-height:500px; overflow-y:scroll;">

			<ul id="messages">

				<li>
				<a href="#">
					<div style="float:right" class="talk-bubble tri-right round border right-top">
					<div class="talktext">
					<p> Start Chat :) </p>
					</div>
					</div>
				</a>
					
				</li>

				<div class="clear"></div>
			</ul>
		</div>

		<div class="grid1_of_2" style="
    width: 21.33333%;
">
			<h3 class="style">Who's Online</h3>
				<ul class="user_img">
					<li><a href="#"><i class="user1"><img src="images/user1.jpg" alt=""></i><span>johnson</span></a></li>
					<li><a href="#"> <i class="user2"><img src="images/user2.jpg" alt=""></i><span>bentz</span></a></li>
					<li><a href="#"><i class="user3"><img src="images/user3.jpg" alt=""></i><span>carrier</span></a></li>
					<li><a href="#"><i class="user4"><img src="images/user4.jpg" alt=""></i><span>mayer</span></a></li>
					<div class="clear"></div>
				</ul>
		</div>

		<div class="clear"></div>
	</div>

	<!-- start grids_of_3 -->
	<div class="grids_of_3">
 		 <div class="grid1_of_3" style="width:28.33333%;float:left; margin-left:0;margin-bottom:0;height:1px;visibility:hidden">

		</div>

		<div class="grid1_of_2" style="width: 43.33333%;">

			<div class="contact_form">
				<form id="chat">
					<input id="m" type="text" name="userMsg" value="">
					<input type="submit" value="send" class="bg1">
				</form>
			</div>
		</div>

		<div class="grid1_of_2" style="width: 21.33333%;height:1px;display:none;visibility:hidden">

		</div>

		<div class="clear"></div>
	</div>


	<!-- start copy-rights  -->
	<!-- <div class="copy">
		<p class="link">© All rights reserved | Template by&nbsp;<a href="http://w3layouts.com/"> W3Layouts</a></p>
	</div> -->
</div>
</div>

<script src="/js/app.js" type="text/javascript"></script>

</body>
	
</html>